<!DOCTYPE html>
<html>
<head>
    <title>Gotchi Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Gotchi Tracker!</h1>
    
    <p>Manage your proprietary gotchi here.</p>

    <nav>
        <ul>
            <li><a href="#">Gotchi but not really cause copyright</a></li>
            <li><a href="/Logging">Log Workout</a></li> 
            <li><a href="#">Progress</a></li>
            <li><a href="Workout">Workout Guides</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>

</body>
</html>
